<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.input :first_name, label_html: { class: 'active' } %>
      <%= f.input :last_name, label_html: { class: 'active' } %>
      <%= f.input :ssn, label_html: { class: 'active' } %>
      <%= f.label :date_of_birth %><br />
      <%= f.text_field :date_of_birth, prompt: "Date of Birth", class: "datepicker", :value => (f.object.date_of_birth.strftime('%B %d, %Y') if f.object.date_of_birth != nil) %>
      <%= f.input :phone, label_html: { class: 'active' } %>
      <%= f.input :role, collection: ['admin','manager','employee'] %>
      <%= f.input :username, label_html: { class: 'active' } %>
      <%= f.input :password%>
      <%= f.input :password_confirmation%>
      <%= f.input :active, as: :boolean, boolean_style: :inline%>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.submit :class=>"btn waves-effect waves-light" %>
      <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-light btn red' %>
    </div>
  </div>
<% end %>