<h4>Store Details</h4>
<table border = 0 >
<tr><td>
  <b>Name:</b></td><td>
  <%= @store.name %>
</td></tr>

<tr><td>
  <b>Street:</b></td><td>
  <%= @store.street %>
</td></tr>

<tr><td>
  <b>City:</b></td><td>
  <%= @store.city %>
</td></tr>

<tr><td>
  <b>State:</b></td><td>
  <%= @store.state %>
</td></tr>
<tr><td>
  <b>Zip:</b></td><td>
  <%= @store.zip %>
</td></tr>

<tr><td>
  <b>Phone:</b></td><td>
  <%= @store.phone %>
</td></tr>

<tr><td>
  <b>Active:</b></td><td>
  <%= @store.active %>
</td></tr>
</table>