<%= simple_form_for(@pay_grade) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.input :level%>
      <%= f.input :active, as: :boolean, boolean_style: :inline%>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.submit :class=>"btn waves-effect waves-light" %>
      <%= link_to 'Cancel', pay_grades_path, :class => 'waves-effect waves-light btn red' %>
    </div>
  </div>
<% end %>